*.eot
*.ico
*.lock
*.log
*.png
*.snap
*.svg
*.ttf
*.woff
*.woff2
.babelrc
.DS_Store
.editorconfig
*.env
*.sh
*.chunk.*
*.min.*
runtime~main.*
.git
.gitattributes
.gitignore
.idea/*
.npmrc
.nvmrc
.prettierignore
.prettierrc
.stylelintrc
.vscode/*
.yarnrc
build
coverage
dist
LICENSE
mock-server/data
node_modules
public
!public/index.html
tools/templates
webpack.config.js
tools
