.wrapper {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  > * {
    min-width: 350px;
    max-width: 400px;
    padding: 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
